<h1>Password Generator</h1>
<div>
  <label for="length">Enter Length</label>
  <input type="text" id="length">  
</div>

<div>
  <label for="letters">Use Letters</label>
  <input type="checkbox" id="letters">
</div>
<div>
  <label for="numbers">Use Numbers</label>
  <input type="checkbox" id="numbers">
</div>
<div>
  <label for="symbols">Use Symbols</label>
  <input type="checkbox" id="symbols">
</div>

<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label for="">Your Password</label>
  <input />
</div>